$backgroundUrl : "https://images.wallpaperscraft.com/image/lake_fog_trees_125659_1920x1080.jpg";

.App-Block{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
